<tr>
    <td style="vertical-align: top">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width: 100%;">
            <tr>
                <td style="vertical-align: top; padding-top: 40px; padding-left: 10px; padding-right: 10px; font-family: Arial, sans-serif; font-size: 24px; line-height: 28px; text-align: center; font-weight:bold; color: {{ textC }}">
                    THE BEST PARTY EVER IS&nbsp;BOOKED!
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; text-align: center">
                    <table cellpadding="0" cellspacing="0" border="0" width="320px" align="center" style="width: 320px; text-align: center">
                        <tr>
                            <td style="vertical-align: top; padding-top: 40px; font-family: Arial, sans-serif; font-size: 14px; line-height: 16px; text-align: center; color: {{ textC }}">
                                <span style="font-weight:bold; text-transform: uppercase">BOGDAN</span>, we&nbsp;are happy to&nbsp;confirm your party reservation for <span style="font-weight:bold;">{DATE} @ {TIME}</span>!
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top; padding-top: 40px; padding-left: 10px;padding-right: 10px; font-family: Arial, sans-serif; font-size: 18px; line-height: 22px; text-align: center; font-weight:bold; color: {{ textC }}">
                                EVENT INFORMATION:
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding-top: 19px; padding-left: 10px; padding-right: 10px;">
                    <table cellpadding="0" cellspacing="0" border="0" width="320px" align="center" style="width: 320px; text-align: center">
                        <tr>
                            <td style="vertical-align: top; border: 1px solid {{ borderC }}; width: 320px;">
                                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                    <tr>
                                        <td style="vertical-align: top; width: 20px; min-width: 20px"></td>
                                        <td style="vertical-align: top; padding-top: 26px; padding-bottom: 26px;">
                                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                <tr>
                                                    <td style="vertical-align: top">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px;color: {{ textC }}">Location:</td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; font-weight:bold; color: {{ textC }}">VR PLACE (346)</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top; padding-top: 14px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px;color: {{ textC }}">Party Level:</td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; font-weight:bold; color: {{ textC }}">PRIVATE</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top; padding-top: 14px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px;color: {{ textC }}">Amount Of Players:</td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; font-weight:bold; color: {{ textC }}">20-30</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top; padding-top: 14px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px;color: {{ textC }}">VIP Room: </td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; font-weight:bold; color: {{ textC }}">Included</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top; padding-top: 14px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px;color: {{ textC }}">Catering Option:</td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; font-weight:bold; color: {{ textC }}">No Food</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top; padding-top: 14px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px;color: {{ textC }}">Lenght:</td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; font-weight:bold; color: {{ textC }}">2 hours</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top; padding-top: 14px; padding-bottom: 11px; border-bottom: 1px solid {{ borderC }}">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px;color: {{ textC }}">VR Arena Extension:</td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; font-weight:bold; color: {{ textC }}">No</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top; padding-top: 21px; padding-bottom: 20px; border-bottom: 1px solid {{ borderC }}">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 18px; line-height: 20px; font-weight:bold; color: {{ textC }}">TOTAL PRICE:</td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 18px; line-height: 20px; font-weight:bold; color: {{ textC }}">$699</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top; padding-top: 22px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px;color: {{ textC }}">Paid On {Date2}:</td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; font-weight:bold; color: {{ textC }}">$349.50&nbsp;/&nbsp;$699</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="vertical-align: top; padding-top: 14px;">
                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="text-align: center; min-width: 100%">
                                                            <tr>
                                                                <td style="width: 50%; vertical-align: top; text-align: left; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px;color: {{ textC }}">Due On {Date3}: </td>
                                                                <td style="width: 50%; vertical-align: top; text-align: right; font-family: Arial, sans-serif; font-size: 14px; line-height: 14px; font-weight:bold; color: {{ textC }}">$349.50&nbsp;/&nbsp;0</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="vertical-align: top; width: 20px; min-width: 20px"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
